@model IEnumerable<Project.Models.upload_file>
   
    @{
        ViewBag.Title = "Uploaded Files";
    }

    <h2 class="text-center">Uploaded Files</h2>


    <table class=" table table-bordered table-striped table-responsive table-hover">

        <tr>
            <th>@Html.DisplayNameFor(model=> model.file_id)</th>
            <th>@Html.DisplayNameFor(model=> model.file_name)</th>
            <th>@Html.DisplayNameFor(model => model.upload_date)</th>
            <th>@Html.DisplayNameFor(model => model.subject)</th>
            <th>@Html.DisplayNameFor(model => model.grade)</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(file => item.file_id)</td>
                <td>@Html.DisplayFor(file => item.file_name)</td>
                <td>@Html.DisplayFor(file => item.upload_date)</td>
                <td>@Html.DisplayFor(file => item.subject)</td>
                <td>@Html.DisplayFor(file => item.grade)</td>
               

                <td>
                    @Html.ActionLink(" ", "Delete", new { id = item.file_id }, new { @class = "btn btn-danger glyphicon glyphicon-trash" }) 
                    @Html.ActionLink(" ", "Edit", new { id = item.file_id }, new { @class = "btn btn-success glyphicon glyphicon-edit" })
                </td>
                
                


            </tr>
        }
    </table>
